.book {
  &__section {
    padding-bottom: 0;
  }

  &__top {
    padding-bottom: 70px;

    @media (max-width: 1200px) {
      padding-bottom: 50px;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 72px;

    @media (max-width: 1200px) {
      font-size: 56px;
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      font-size: 42px;
    }

    @media (max-width: 480px) {
      font-size: 32px;
    }
  }
}

.ticker {
  position: relative;
  overflow: hidden;
  background-color: $light;

  &__wrapper {
    display: flex;
  }

  &__item {
    padding: 50px 100px;
    white-space: nowrap;
    font-size: 144px;
    font-weight: 700;
    line-height: 1;
    font-weight: 700;
    color: $light;
    text-transform: uppercase;
    text-shadow: rgba($dark, 0.6) 0.5px 0px 0,
      rgba($dark, 0.6) 0px 0.5px 0,
      rgba($dark, 0.6) 0px -0.5px 0,
      rgba($dark, 0.6) -0.5px 0px 0;
    animation: ticker 15s linear infinite;

    @media (max-width: 1200px) {
      font-size: 120px;
      padding: 30px 70px;
    }

    @media (max-width: 768px) {
      font-size: 70px;
      padding: 10px 50px;
    }
  }
}

@keyframes ticker {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}