.news {

  &__title {
    margin-bottom: 20px;

    @media (max-width: 1200px) {
      margin-bottom: 10px;
    }

  }

  &__subtitle {
    margin-bottom: 50px;

    @media (max-width: 1200px) {
      margin-bottom: 20px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__item {
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    max-width: 370px;
    width: 100%;
    border-radius: 24px;

    &--first {
      &::before {
        position: absolute;
        content: '';
        bottom: -40px;
        left: 0;
        opacity: 0.7;
        background-image: url('./../images/blog/trips-decor.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom left;

        width: 430px;
        height: 115px;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    &--big {
      grid-column-start: span 2;
    }

    @media (max-width: 768px) {
      max-width: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__txt {
    text-align: right;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 300;
    text-transform: uppercase;
    color: $primary;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__button {

    @media (max-width: 768px) {
      margin-top: 20px;
      margin: 0 auto;
    }
  }
}

.news-card {
  max-width: 770px;
  width: 100%;
  padding: 20px;
  background-color: $white;
  border-radius: 24px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @media (max-width: 480px) {
      flex-direction: column;
      gap: 20px;
    }

  }

  &__img-box {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    overflow: hidden;
    max-width: 250px;
    width: 100%;

    @media (max-width: 768px) {
      max-width: 40%;
    }

    @media (max-width: 576px) {
      max-width: 20%;
    }

    @media (max-width: 480px) {
      max-width: 250px;
      margin: 0 auto;
    }
  }

  &__img {
    object-fit: cover;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 446px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 40px 40px;
  }

  &__title {
    text-align: left;
    max-width: 340px;
    width: 100%;
    margin-bottom: 10px;
    padding-right: 50px;
    font-size: 37px;
    line-height: 1.1;
    font-weight: 200;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }

  &__txt {
    margin-bottom: 18px;
    text-align: left;
    font-size: 20px;
  }

  &__button {
    text-align: right;
    margin-left: auto;
    width: fit-content;
  }
}