 .tabs {
   background-color: $light;

   &__nav {
     display: flex;
     align-items: center;
     justify-content: flex-start;

     @media (max-width: 1024px) {
       overflow-y: scroll;
       padding-bottom: 10px;
       -webkit-padding-bottom: 10px;
     }
   }

   &__nav-item {
     cursor: pointer;
     width: calc(100% / 4);
     padding: 0 8px 12px;
     border-bottom: 1px solid $devider;
     color: $grey;
     font-size: 22px;
     line-height: 1.1;
     font-weight: 200;
     text-transform: uppercase;
     transition: color 0.4s ease-in-out,
       border-color 0.4s ease-in-out;

     &:hover {
       border-color: $accent;
       color: $primary;
     }

     &.active {
       font-weight: 400;
       color: $primary;
       border-color: $accent;
     }

     @media (max-width: 1024px) {
       width: fit-content;
       flex-shrink: 0;
       padding-right: 60px;
     }

     @media (max-width: 768px) {
       width: fit-content;
       flex-shrink: 0;
       padding-right: 40px;
     }
   }

   &__info {
     position: absolute;
     z-index: -1;
     opacity: 0;
     visibility: hidden;
     height: 0;

     &.active {
       position: static;
       opacity: 1;
       visibility: visible;
       height: auto;
       padding-top: 30px;
     }
   }

   &__headline {
     font-size: 72px;
     text-align: left;
     margin-bottom: 20px;

     @media (max-width: 1024px) {
       font-size: 56px;
     }

     @media (max-width: 768px) {
       font-size: 40px;
     }

     @media (max-width: 480px) {
       font-size: 40px;
     }
   }

   &__txt {
     text-align: left;

     &:not(:last-child) {
       margin-bottom: 20px;
     }
   }

   &__top {
     display: flex;
     margin-bottom: 30px;

     @media (max-width: 768px) {
       margin-bottom: 16px;
     }
   }

   &__title {
     font-family: 'Rubik',
       sans-serif;
     font-size: 32px;

     @media (max-width: 768px) {
       font-size: 28px;
     }
   }

   &__day {
     flex-shrink: 0;
     display: flex;
     align-items: center;
     padding: 6px 20px;
     border-radius: 8px;
     background-color: $accent;
     margin-right: 16px;
     font-weight: 600;
   }

   &__image {
     object-fit: cover;
     border-radius: 0 24px 24px 0;

     @media (max-width: 768px) {
       border-radius: 12px;
       height: 250px;
     }
   }

   &__list {
     display: flex;
     flex-direction: column;
     text-align: left;

     @media (max-width: 768px) {
       gap: 30px;
     }
   }

   &__item {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 30px;

     &:nth-child(2n+1) {
       .tabs__inner {
         width: 53%;
       }

       .tabs__image-box {
         width: 43%;
       }
     }

     &:nth-child(2n) {
       flex-direction: row-reverse;

       .tabs__inner {
         width: 39%;
       }

       .tabs__image-box {
         width: 57%;
       }

       .tabs__image {
         border-radius: 24px 0 0 24px;
       }
     }

     @media (max-width: 768px) {
       gap: 20px;
       flex-direction: column;

       &:nth-child(2n+1) {
         .tabs__inner {
           width: 100%;
         }

         .tabs__image-box {
           width: 70%;
         }
       }

       &:nth-child(2n) {
         flex-direction: column;

         .tabs__inner {
           width: 100%;
         }

         .tabs__image-box {
           width: 70%;
         }

         .tabs__image {
           border-radius: 12px;
         }
       }
     }

     @media (max-width: 568px) {
       &:nth-child(2n+1) {
         .tabs__image-box {
           width: 90%;
         }
       }

       &:nth-child(2n) {

         .tabs__image-box {
           width: 90%;
         }
       }
     }
   }

   &__text {
     padding-left: 15px;
     position: relative;
     font-size: 18px;
     font-weight: 400;

     &::before {
       position: absolute;
       content: '';
       width: 8px;
       height: 8px;
       border-radius: 50%;
       background-color: $primary;
       top: 8px;
       left: 0;
     }
   }

   &__link {
     text-align: center;
     color: $primary;
     margin-top: 30px;

     &::before {
       background-color: $primary;
     }

     &:hover {
       color: $accent;

       &::before {
         background-color: $accent;
       }
     }
   }

   &__wrapper {
     padding-left: 20px;
     column-count: 2;
     -webkit-column-count: 2;
     -moz-column-count: 2;
     column-gap: 50px;
     -webkit-column-gap: 50px;
     -moz-column-gap: 50px;

     @media (max-width: 768px) {
       column-count: 1;
       -webkit-column-count: 1;
       -moz-column-count: 1;
     }
   }

   &__caption {
     font-size: 24px;
     font-weight: 600;
     margin-bottom: 4px;
   }
 }