.category {
  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 50px;
  }

  &__list {
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__item {
    max-width: 1160px;
    width: 100%;
  }
}

