<div class="about-hero-bg" style="background-image: url('./images/about/about-cover.webp')"></div>
<section class="section section--light about-hero" style="background-image: url('./images/decor/about-us.webp');">
  <div class="container about-hero__container">
    <h2 class="title title--light about-hero__title">
      About us
    </h2>

    <ul class="about-hero__list">
      <li class="about-hero__item">
        <div class="about-hero__image-box">
          <img class="about-hero__image" src="./images/new-york/photo-01.webp" alt="Times Square New York" width="500"
            height="350" loading="lazy">
        </div>
        <p class="about-hero__inner">
          Welcome to Adventure online, where travel meets adventure and comfort. With years of experience in the travel
          industry,
          we specialize in creating tailor-made journeys that reflect your unique preferences. Whether you're seeking a
          relaxing
          vacation, a cultural exploration, or an adrenaline-packed adventure, we are here to make it happen. Our
          dedicated team
          of travel experts ensures every trip is seamless, safe, and filled with unforgettable memories. Let us take
          you
          on a
          journey beyond the ordinary!
        </p>

      </li>
      <li class="about-hero__item">
        <p class="about-hero__inner">
          Welcome to Adventure online, where travel meets adventure and comfort. With years of experience in the travel
          industry,
          we specialize in creating tailor-made journeys that reflect your unique preferences. Whether you're seeking a
          relaxing
          vacation, a cultural exploration, or an adrenaline-packed adventure, we are here to make it happen. Our
          dedicated team
          of travel experts ensures every trip is seamless, safe, and filled with unforgettable memories. Let us take
          you
          on a
          journey beyond the ordinary!
        </p>
        <div class="about-hero__image-box">
          <img class="about-hero__image" src="./images/new-york/photo-01.webp" alt="Times Square New York" width="500"
            height="350" loading="lazy">
        </div>

      </li>
    </ul>
  </div>
</section>