<div class="about-hero-bg" style="background-image: url('./images/about/about-cover.webp')"></div>
<section class="section section--light about-hero" style="background-image: url('./images/decor/about-us.webp');">
  <div class="container about-hero__container">
    <h2 class="title title--light about-hero__title">
      About us
    </h2>

    <ul class="about-hero__list">
      <li class="about-hero__item">
        <div class="about-hero__image-box">
          <img class="about-hero__image" src="./images/about/about-1.webp" alt="Times Square New York" width="500"
            height="350" loading="lazy">
        </div>
        <p class="about-hero__inner">
          Welcome to Adventure online, where travel meets adventure and comfort. With years of experience in the travel
          industry,
          we specialize in creating tailor-made journeys that reflect your unique preferences. Whether you're seeking a
          relaxing
          vacation, a cultural exploration, or an adrenaline-packed adventure, we are here to make it happen. Our
          dedicated team
          of travel experts ensures every trip is seamless, safe, and filled with unforgettable memories. Let us take
          you
          on a
          journey beyond the ordinary!
        </p>

      </li>
      <li class="about-hero__item">
        <p class="about-hero__inner">
          We believe that travel is more than just visiting new places—it's about connecting with different cultures,
          discovering hidden gems, and experiencing life in new ways. That’s why we partner with the best local guides,
          accommodations, and service providers to ensure you have an authentic and enriching experience every step of
          the way. Wherever you want to go, we are here to make your dream trip a reality.
        </p>
        <div class="about-hero__image-box">
          <img class="about-hero__image" src="./images/about/about-2.webp" alt="Times Square New York" width="670"
            height="430" loading="lazy">
        </div>

      </li>
    </ul>
  </div>
</section>