<section class="section about section--light section-slider"
  style="background-image: url(./images/decor/decor-aboutUs.png);">
  <div class="container about__container">
    <h2 class="title title--light destinations__title">
      why Choose Us
    </h2>

    <!-- gsap__bl -->

    <div class="about__inner">
      <div class="about__track">
        <ul class="about__list">
          <li class="about__item">
            <img class="about__img" src="./images/about/about-01.webp" alt="" loading="lazy" width="570" height="300">
            <div class="about__content">
              <h3 class="about__headline headline">
                Expertise:
              </h3>
              <p class="about__text">
                With years of experience and a team of adventure aficionados, we curate adventures that are not
                just
                exhilarating but
                also safe and well-planned.
              </p>
            </div>

          </li>
          <li class="about__item">
            <img class="about__img" src="./images/about/about-02.webp" alt="" loading="lazy" width="570" height="300">
            <div class="about__content">
              <h3 class="about__headline headline">
                Safety First:
              </h3>
              <p class="about__text">
                Your safety is our top priority. We work with certified guides and adhere to the highest safety
                standards,
                allowing you to embark on your adventure with confidence and peace of mind.
              </p>
            </div>
          </li>
        </ul>
        <div class="about__bottom">
          <p class="about__big-text about__bottom-first">
            Our mission is to ignite the adventurous soul in every wanderer
          </p>

          <div class="about__item">
            <img class="about__img" src="./images/about/about-03.webp" alt="" loading="lazy" width="570" height="300">
            <div class="about__content">
              <h3 class="about__headline headline">
                Personalized Journeys:
              </h3>
              <p class="about__text">
                We understand that every adventurer is unique. That's why we offer customizable packages to ensure your
                adventure aligns perfectly with your preferences and expectations.
              </p>
            </div>
          </div>

          <div class="about__links">
            <p class="about__big-text">
              Learn more about Adventure online</p>
            <a class="about__link button" href="#">
              About us
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- gsap__bl END -->
  </div>
</section>





<!-- <div class="gsap__slider">
  <div class="gsap__inner">
    <div class="gsap__track">
      <ul class="about__list">
        <li class="about__item">
          <img class="about__img" src="./images/about/about-01.webp" alt="" loading="lazy" width="570" height="300">
          <div class="about__content">
            <h3 class="about__headline headline">
              Expertise:
            </h3>
            <p class="about__text">
              With years of experience and a team of adventure aficionados, we curate adventures that are not just
              exhilarating but
              also safe and well-planned.
            </p>
          </div>

        </li>
        <li class="about__item">
          <img class="about__img" src="./images/about/about-02.webp" alt="" loading="lazy" width="570" height="300">
          <div class="about__content">
            <h3 class="about__headline headline">
              Safety First:
            </h3>
            <p class="about__text">
              Your safety is our top priority. We work with certified guides and adhere to the highest safety
              standards,
              allowing you to embark on your adventure with confidence and peace of mind.
            </p>
          </div>
        </li>
      </ul>
      <div class="about__bottom">
        <p class="about__big-text about__bottom-first">
          Our mission is to ignite the adventurous soul in every wanderer
        </p>

        <div class="about__item">
          <img class="about__img" src="./images/about/about-02.webp" alt="" loading="lazy" width="570" height="300">
          <div class="about__content">
            <h3 class="about__headline headline">
              Safety First:
            </h3>
            <p class="about__text">
              Your safety is our top priority. We work with certified guides and adhere to the highest safety
              standards,
              allowing you to embark on your adventure with confidence and peace of mind.
            </p>
          </div>

          <div class="about__links">
            <p class="about__big-text">
              Learn more about Adventure online</p>
            <a class="about__link button" href="#">
              About us
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div> -->

<!-- <ul class="about__list">
        <li class="about__item">
          <img class="about__img" src="./images/about/about-01.webp" alt="" loading="lazy" width="570" height="300">
          <div class="about__content">
            <h3 class="about__headline headline">
              Expertise:
            </h3>
            <p class="about__text">
              With years of experience and a team of adventure aficionados, we curate adventures that are not just
              exhilarating but
              also safe and well-planned.
            </p>
          </div>

        </li>
        <li class="about__item">
          <img class="about__img" src="./images/about/about-02.webp" alt="" loading="lazy" width="570" height="300">
          <div class="about__content">
            <h3 class="about__headline headline">
              Safety First:
            </h3>
            <p class="about__text">
              Your safety is our top priority. We work with certified guides and adhere to the highest safety standards,
              allowing you to embark on your adventure with confidence and peace of mind.
            </p>
          </div>
        </li>
      </ul>
      <div class="about__bottom">
        <p class="about__big-text about__bottom-first">
          Our mission is to ignite the adventurous soul in every wanderer
        </p>

        <div class="about__item">
          <img class="about__img" src="./images/about/about-02.webp" alt="" loading="lazy" width="570" height="300">
          <div class="about__content">
            <h3 class="about__headline headline">
              Safety First:
            </h3>
            <p class="about__text">
              Your safety is our top priority. We work with certified guides and adhere to the highest safety
              standards,
              allowing you to embark on your adventure with confidence and peace of mind.
            </p>
          </div>

          <div class="about__links">
            <p class="about__big-text">
              Learn more about Adventure online</p>
            <a class="about__link button" href="#">
              About us
            </a>
          </div>
        </div>
      </div> -->

<!-- </div>

</div>

</section> -->