<section class="book section book__section" style="background-image: url('./../images/decor/decor-book.png');">
  <div class="container">
    <div class="book__top">
      <h2 class="title book__title">
        Book Adventure here!
      </h2>
      <a href="#" class="button book__button">
        Book Your Adventure
      </a>
    </div>
  </div>
  <div class="ticker">
    <div class="ticker__wrapper">
      <div class="ticker__item">Book Your Adventure here!</div>
      <div class="ticker__item">Book Your Adventure here!</div>
      <div class="ticker__item">Book Your Adventure here!</div>
    </div>
  </div>
</section>