<section class="book section" style="background-image: url('./../images/decor/decor-book.png');">
  <div class="container">
    <h2 class="title book__title">
      Book Adventure here!
    </h2>
    <button class="button book__button">
      Book Your Adventure
    </button>
  </div>
  <div class="ticker">
    <div class="ticker__wrapper">
      <div class="ticker__item">Book Your Adventure here!</div>
      <div class="ticker__item">Book Your Adventure here!</div>
      <div class="ticker__item">Book Your Adventure here!</div>
    </div>
  </div>
</section>