<section class="category section" style="background-image: url('./images/decor/category.png');">

  <div class="container">
    <span class="title category__title">
      Choose Adventure
    </span>
    <h2 class="subtitle category__subtitle">
      Popular Adventure categories
    </h2>

    <ul class="category__list">
      <li class="category__item">
        <article class="info-card">
          <div class="info-card__inner info-card__inner--hiking">
            <div class="info-card__content" style="background-image:url('./images/icons/hikking.svg')">
              <h3 class="info-card__title">
                Hiking Escapades
              </h3>
              <p class="info-card__txt">
                Explore scenic trails and conquer breathtaking peaks
              </p>
              <a href="#" class="button info-card__button">
                Book now
              </a>

            </div>
          </div>
        </article>
      </li>
      <li class="category__item">
        <article class="info-card">
          <div class="info-card__inner info-card__inner--water">
            <div class="info-card__content" style="background-image:url('./images/icons/watersport.svg')">
              <h3 class="info-card__title">
                Water Adventures
              </h3>
              <p class="info-card__txt">
                Enjoy adrenaline-pumping water activities like surfing, kayaking, or rafting
              </p>
              <a href="#" class="button info-card__button">
                Book now
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="category__item">
        <article class="info-card">
          <div class="info-card__inner info-card__inner--urban">
            <div class="info-card__content" style="background-image:url('./images/icons/biking.svg')">
              <h3 class="info-card__title">
                Urban Exploration
              </h3>
              <p class="info-card__txt">
                Discover hidden gems and vibrant cultures in bustling cities
              </p>
              <a href="#" class="button info-card__button">
                Book now
              </a>

            </div>
          </div>
        </article>
      </li>
      <li class="category__item">
        <article class="info-card">
          <div class="info-card__inner info-card__inner--winter">
            <div class="info-card__content" style="background-image:url('./images/icons/hikking.svg')">
              <h3 class="info-card__title">
                Winter Wonderland
              </h3>
              <p class="info-card__txt">
                Embrace the cold with skiing, snowboarding, and ice climbing
              </p>
              <a href="#" class="button info-card__button">
                Book now
              </a>

            </div>
          </div>
        </article>
      </li>
    </ul>

    <a class="category__link link" href="#">
      All adventures
    </a>
  </div>
</section>