<section class="category section" style="background-image: url('./images/decor/category.webp');">

  <div class="container">
    <h2 class="title category__title">
      Choose Adventure
    </h2>
    <h3 class="subtitle category__subtitle">
      Popular adventure categories
    </h3>

    <ul class="category__list">
      <li class="category__item">
        <article class="info-card">
          <div class="info-card__inner">
            <div class="info-card__content" style="background-image:url('./images/icons/hikking.svg')">
              <div class="info-card__content-top">
                <h3 class="info-card__title">
                  Hiking Escapades
                </h3>
                <p class="info-card__txt">
                  Explore scenic trails and conquer breathtaking peaks
                </p>
              </div>

              <a class="button info-card__button" href="#">
                Book now
              </a>
            </div>
            <a class="info-card__img-box" href="#">
              <img class="info-card__img" src="./images/category/photo-01.webp"
                alt="A group of tourists stands on the top of a mountain" width="600" height="250">
            </a>
          </div>
        </article>
      </li>

      <li class="category__item">
        <article class="info-card">
          <div class="info-card__inner">
            <div class="info-card__content" style="background-image:url('./images/icons/watersport.svg')">
              <div class="info-card__content-top">
                <h3 class="info-card__title">
                  Water Adventures
                </h3>
                <p class="info-card__txt">
                  Enjoy adrenaline-pumping water activities like surfing, kayaking, or rafting
                </p>
              </div>
              <a class="button info-card__button" href="#">
                Book now
              </a>
            </div>
            <a class="info-card__img-box" href="#">
              <img class="info-card__img" src="./images/category/photo-02.webp"
                alt="A girl rides a kayak on a lake surrounded by mountains" width="600" height="250">
            </a>
          </div>
        </article>
      </li>

      <li class="category__item">
        <article class="info-card">
          <div class="info-card__inner">
            <div class="info-card__content" style="background-image:url('./images/icons/biking.svg')">
              <div class="info-card__content-top">
                <h3 class="info-card__title">
                  Urban Exploration
                </h3>
                <p class="info-card__txt">
                  Discover hidden gems and vibrant cultures in bustling cities
                </p>
              </div>
              <a class="button info-card__button" href="#">
                Book now
              </a>
            </div>
            <a class="info-card__img-box" href="#">
              <img class="info-card__img" src="./images/category/photo-03.webp" alt="A girl photographs sights in Italy"
                width="600" height="250">
            </a>
          </div>
        </article>
      </li>

      <li class="category__item">
        <article class="info-card">
          <div class="info-card__inner">
            <div class="info-card__content" style="background-image:url('./images/icons/hikking.svg')">
              <div class="info-card__content-top">
                <h3 class="info-card__title">
                  Winter Wonderland
                </h3>
                <p class="info-card__txt">
                  Embrace the cold with skiing, snowboarding, and ice climbing
                </p>
              </div>
              <a class="button info-card__button" href="#">
                Book now
              </a>
            </div>
            <a class="info-card__img-box" href="#">
              <img class="info-card__img" src="./images/category/photo-04.webp"
                alt="Guy skiing on a sunny day in the mountains" width="600" height="250">
            </a>
          </div>
        </article>
      </li>
    </ul>

    <a class="category__link link" href="#">
      Look all Adventure
    </a>
  </div>
</section>