<section class="section destinations section--light"
  style="background-image: url(./images/decor/decor-destinations.png);">
  <div class="destination__wrapper">
    <div class="container">
      <h2 class="title title--light destinations__title">
        Top destinations
      </h2>

      <ul class="destinations__list">
        <li class="destinations__item">
          <a class="destinations-card" href="#">
            <div class="destinations-card__box">
              <img class="destinations-card__img" src="./images/destinations/new-york.jpg" alt="New-York street"
                width="570" height="300">
              <div class="destinations-card__description">
                <div class="destinations-card__inner">
                  <h4 class="destinations-card__geo">
                    New York, USA
                  </h4>
                  <ul class="destinations-card__list">
                    <li class="destinations-card__item destinations-card__item--accent">
                      <span class="destinations-card__subtitle">
                        Departure
                      </span>
                      <span class="destinations-card__txt">
                        Nov, 1
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Group size
                      </span>
                      <span class="destinations-card__txt">
                        20
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Duration
                      </span>
                      <span class="destinations-card__txt">
                        5 days
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Price
                      </span>
                      <span class="destinations-card__txt">
                        $ 2500
                      </span>
                    </li>

                  </ul>
                  <ul class="destinations-card__icons">
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-car"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-plane"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-hotel"></use>
                      </svg>
                    </li>

                  </ul>

                </div>
              </div>
            </div>
            <h3 class="destinations-card__title">
              New York
            </h3>
          </a>
        </li>

        <li class="destinations__item">
          <a href="#" class="destinations-card">

            <div class="destinations-card__box">
              <img class="destinations-card__img" src="./images/destinations/toronto.jpg" alt="Toronto street"
                width="570" height="300">
              <div class="destinations-card__description">
                <div class="destinations-card__inner">
                  <h4 class="destinations-card__geo">
                    Toronto, Canada
                  </h4>
                  <ul class="destinations-card__list">
                    <li class="destinations-card__item destinations-card__item--accent">
                      <span class="destinations-card__subtitle">
                        departure
                      </span>
                      <span class="destinations-card__txt">
                        nov, 1
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        group size
                      </span>
                      <span class="destinations-card__txt">
                        20
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        duration
                      </span>
                      <span class="destinations-card__txt">
                        5 days
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        price
                      </span>
                      <span class="destinations-card__txt">
                        $ 2500
                      </span>
                    </li>

                  </ul>
                  <ul class="destinations-card__icons">
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-city"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-fly"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-hotel"></use>
                      </svg>
                    </li>

                  </ul>

                </div>
              </div>
            </div>

            <h3 class="destinations-card__title">
              Toronto
            </h3>

          </a>
        </li>

        <li class="destinations__item">
          <a href="#" class="destinations-card">

            <div class="destinations-card__box">
              <img class="destinations-card__img" src="./images/destinations/vegas.jpg" alt="Las-Vegas" width="570"
                height="300">
              <div class="destinations-card__description">
                <div class="destinations-card__inner">
                  <h4 class="destinations-card__geo">
                    Las Vegas, USA
                  </h4>
                  <ul class="destinations-card__list">
                    <li class="destinations-card__item destinations-card__item--accent">
                      <span class="destinations-card__subtitle">
                        departure
                      </span>
                      <span class="destinations-card__txt">
                        nov, 1
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        group size
                      </span>
                      <span class="destinations-card__txt">
                        20
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        duration
                      </span>
                      <span class="destinations-card__txt">
                        5 days
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        price
                      </span>
                      <span class="destinations-card__txt">
                        $ 2500
                      </span>
                    </li>

                  </ul>
                  <ul class="destinations-card__icons">
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-city"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-fly"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-hotel"></use>
                      </svg>
                    </li>

                  </ul>

                </div>
              </div>
            </div>

            <h3 class="destinations-card__title">
              Las Vegas
            </h3>

          </a>
        </li>

        <li class="destinations__item">
          <a href="#" class="destinations-card">

            <div class="destinations-card__box">
              <img class="destinations-card__img" src="./images/destinations/banff.jpg" alt="Banff Canada" width="570"
                height="300">
              <div class="destinations-card__description">
                <div class="destinations-card__inner">
                  <h4 class="destinations-card__geo">
                    Banff, Canada
                  </h4>
                  <ul class="destinations-card__list">
                    <li class="destinations-card__item destinations-card__item--accent">
                      <span class="destinations-card__subtitle">
                        departure
                      </span>
                      <span class="destinations-card__txt">
                        nov, 1
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        group size
                      </span>
                      <span class="destinations-card__txt">
                        20
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        duration
                      </span>
                      <span class="destinations-card__txt">
                        5 days
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        price
                      </span>
                      <span class="destinations-card__txt">
                        $ 2500
                      </span>
                    </li>

                  </ul>
                  <ul class="destinations-card__icons">
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-city"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-fly"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-hotel"></use>
                      </svg>
                    </li>

                  </ul>

                </div>
              </div>
            </div>

            <h3 class="destinations-card__title">
              Banff
            </h3>

          </a>
        </li>
      </ul>

      <a class="button destinations__link" href="#">
        Show More
      </a>

    </div>

  </div>

</section>