<section class="section destinations section--light"
  style="background-image: url(./images/decor/decor-destinations.png);">
  <div class="container">
    <h2 class="title title--light destinations__title">
      Top destinations
    </h2>

    <ul class="destinations__list">
      <li class="destinations__item">
        <article class="destinations-card">
          <a class="destinations-card__link" href="#">
            <h3 class="destinations-card__title">
              New York
            </h3>
            <div class="destinations-card__box">
              <img class="destinations-card__img" src="./images/destinations/new-york.jpg" alt="New-York street"
                width="570" height="300">
              <div class="destinations-card__description">
                <div class="destinations-card__inner">
                  <span class="destinations-card__geo">
                    New York, USA
                  </span>
                  <ul class="destinations-card__list">
                    <li class="destinations-card__item destinations-card__item--accent">
                      <p class="destinations-card__subtitle">
                        Departure
                      </p>
                      <time class="destinations-card__txt" datetime=" 2024-11-01">
                        Nov, 1
                      </time>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Group size
                      </span>
                      <span class="destinations-card__txt">
                        20
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Duration
                      </span>
                      <span class="destinations-card__txt">
                        5 days
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Price
                      </span>
                      <span class="destinations-card__txt">
                        <span class="destinations-card__currency">
                          $
                        </span>
                        2500
                      </span>
                    </li>

                  </ul>
                  <ul class="destinations-card__icons">
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-city"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-fly"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-hotel"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>
      <li class="destinations__item">
        <article class="destinations-card">
          <a href="#" class="destinations-card__link">
            <h3 class="destinations-card__title">
              Toronto
            </h3>
            <div class="destinations-card__box">
              <img class="destinations-card__img" src="./images/destinations/toronto.jpg" alt="Toronto street"
                width="570" height="300">
              <div class="destinations-card__description">
                <div class="destinations-card__inner">
                  <span class="destinations-card__geo">
                    Toronto, Canada
                  </span>
                  <ul class="destinations-card__list">
                    <li class="destinations-card__item destinations-card__item--accent">
                      <p class="destinations-card__subtitle">
                        Departure
                      </p>
                      <time class="destinations-card__txt" datetime=" 2024-11-01">
                        Nov, 1
                      </time>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Group size
                      </span>
                      <span class="destinations-card__txt">
                        20
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Duration
                      </span>
                      <span class="destinations-card__txt">
                        5 days
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Price
                      </span>
                      <span class="destinations-card__txt">
                        <span class="destinations-card__currency">
                          $
                        </span>
                        2500
                      </span>
                    </li>

                  </ul>
                  <ul class="destinations-card__icons">
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-city"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-fly"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-hotel"></use>
                      </svg>
                    </li>

                  </ul>

                </div>
              </div>
            </div>
          </a>
        </article>
      </li>
      <li class="destinations__item">
        <article class="destinations-card">
          <a href="#" class="destinations-card__link">
            <h3 class="destinations-card__title">
              Las Vegas
            </h3>
            <div class="destinations-card__box">
              <img class="destinations-card__img" src="./images/destinations/vegas.jpg" alt="Las-Vegas" width="570"
                height="300">
              <div class="destinations-card__description">
                <div class="destinations-card__inner">
                  <span class="destinations-card__geo">
                    Las Vegas, USA
                  </span>
                  <ul class="destinations-card__list">
                    <li class="destinations-card__item destinations-card__item--accent">
                      <p class="destinations-card__subtitle">
                        Departure
                      </p>
                      <time class="destinations-card__txt" datetime=" 2024-10-15">
                        Oct, 1
                      </time>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Group size
                      </span>
                      <span class="destinations-card__txt">
                        20
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Duration
                      </span>
                      <span class="destinations-card__txt">
                        5 days
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Price
                      </span>
                      <span class="destinations-card__txt">
                       <span class="destinations-card__currency">
                         $
                       </span>
                       2500
                      </span>
                    </li>
                  </ul>
                  <ul class="destinations-card__icons">
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-city"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-fly"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-hotel"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="destinations__item">
        <article class="destinations-card">
          <a href="#" class="destinations-card__link">
            <h3 class="destinations-card__title">
              Banff
            </h3>
            <div class="destinations-card__box">
              <img class="destinations-card__img" src="./images/destinations/banff.jpg" alt="Banff Canada" width="570"
                height="300">
              <div class="destinations-card__description">
                <div class="destinations-card__inner">
                  <span class="destinations-card__geo">
                    Banff, Canada
                  </span>
                  <ul class="destinations-card__list">
                    <li class="destinations-card__item destinations-card__item--accent">
                      <p class="destinations-card__subtitle">
                        Departure
                      </p>
                      <time class="destinations-card__txt" datetime=" 2024-09-01">
                        Sep, 1
                      </time>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Group size
                      </span>
                      <span class="destinations-card__txt">
                        20
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Duration
                      </span>
                      <span class="destinations-card__txt">
                        5 days
                      </span>
                    </li>
                    <li class="destinations-card__item">
                      <span class="destinations-card__subtitle">
                        Price
                      </span>
                      <span class="destinations-card__txt">
                        <span class="destinations-card__currency">
                          $
                        </span>
                        2500
                      </span>
                    </li>

                  </ul>
                  <ul class="destinations-card__icons">
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-city"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-fly"></use>
                      </svg>
                    </li>
                    <li class="destinations-card__icons-item">
                      <svg class="destinations-card__icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-hotel"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>
    </ul>
    <a class="button destinations__button" href="#">
      Show More
    </a>
  </div>
</section>