<section class="section section--light details" style="background-image: url('./images/new-york/decor-hero.webp');">
  <div class="container">
    <h2 class="title title--light details__title">
      City Discovery
    </h2>
    <p class="details__headline headline">
      A 5-Day Adventure Through Iconic Landmarks and Hidden Gems
    </p>

    <div class="details__content">
      <div class="swiper swiper-3 details__swiper" id="swiper-3">
        <div class="swiper-wrapper">
          <div class="swiper-slide details__item">
            <img src="./images/new-york/gallery/gallery-01.webp" alt="New York sights" class="details__img" width="470"
              height="600">
          </div>
          <div class="swiper-slide details__item">
            <img src="./images/new-york/gallery/gallery-02.webp" alt="New York sights" class="details__img" width="470"
              height="600">
          </div>
          <div class="swiper-slide details__item">
            <img src="./images/new-york/gallery/gallery-03.webp" alt="New York sights" class="details__img" width="470"
              height="600">
          </div>
          <div class="swiper-slide details__item">
            <img src="./images/new-york/gallery/gallery-04.webp" alt="New York sights" class="details__img" width="470"
              height="600">
          </div>
          <div class="swiper-slide details__item">
            <img src="./images/new-york/gallery/gallery-05.webp" alt="New York sights" class="details__img" width="470"
              height="600">
          </div>
          <div class="swiper-slide details__item">
            <img src="./images/new-york/gallery/gallery-06.webp" alt="New York sights" class="details__img" width="470"
              height="600">
          </div>
          <div class="swiper-slide details__item">
            <img src="./images/new-york/gallery/gallery-07.webp" alt="New York sights" class="details__img" width="470"
              height="600">
          </div>
          <div class="swiper-slide details__item">
            <img src="./images/new-york/gallery/gallery-08.webp" alt="New York sights" class="details__img" width="470"
              height="600">
          </div>

        </div>
        <div class="swiper-pagination detail-pagination"></div>
      </div>

      <div class="details__info">
        <div class="details__top">
          <h3 class="details__info-title">
            New York, USA
          </h3>
          <ul class="destination-details details__destination-details">
            <li class="destination-details__item destination-details__item--accent">
              <span class="destination-details__subtitle">
                departure
              </span>
              <span class="destination-details__txt">
                nov, 1
              </span>
            </li>
            <li class="destination-details__item">
              <span class="destination-details__subtitle">
                group size
              </span>
              <span class="destination-details__txt">
                20
              </span>
            </li>
            <li class="destination-details__item">
              <span class="destination-details__subtitle">
                duration
              </span>
              <span class="destination-details__txt">
                5 days
              </span>
            </li>
          </ul>

          <p class="details__text">
            Embark on an immersive 5-day journey through the heart of the Big Apple. Our meticulously crafted tour
            combines
            the
            grandeur of iconic landmarks with the charm of hidden gems, promising an unforgettable experience. From the
            lush
            expanses of Central Park to the architectural marvels of Grand Central Terminal, each day offers a new
            adventure.
          </p>
        </div>

        <div class="details__bottom">
          <div class="destination-details details__price">
            <span class="destination-details__subtitle">
              price
            </span>
            <span class="destination-details__txt">
              $ 2500
            </span>
          </div>
          <div class="details__buttons">
            <a class="button details__link" href="#">
              Book now
            </a>
            <a class="button button--secondary details__link" href="#">
              Contact us
            </a>

          </div>
        </div>


      </div>
    </div>

</section>