<section class="section section--dark faq" style="background-image: url(./images/decor/decor-faqs.png);">
  <div  class="container">
    <span class="title faq__title">
      Tour FAQs
    </span>
    <h2 class="subtitle faq__subtitle">
      Answers to Your Essential Questions
    </h2>


    <ul class="accordion faq__accordion">

      <li class="accordion__item">
        <div class="accordion__head headline">
          How do I book the tour?
          <svg class="accordion__icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-chevron"></use>
          </svg>
        </div>
        <div class="accordion__body">
          To secure your spot, simply contact our booking department at
          <a class="link-txt" href="mailto:info@adv.com">info@adv.com</a>
          or
          <a class="link-txt" href="#">contact us</a>
        </div>
      </li>
      <li class="accordion__item open">
        <div class="accordion__head headline">
          What is included in the tour package?
          <svg class="accordion__icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-chevron"></use>
          </svg>
        </div>
        <div class="accordion__body">
          The tour includes airport transfers, accommodation, daily breakfasts, a guided city tour, and excursions to
          iconic sites: the Metropolitan Museum of Art, Grand Central Terminal, Statue of Liberty and Ellis
          Island, 9/11 Memorial & Museum, and the Museum of Modern Art (MoMA)
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__head headline">
          Are meals included in the tour price?
          <svg class="accordion__icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-chevron"></use>
          </svg>
        </div>
        <div class="accordion__body">
          While daily breakfasts are included, other meals are not part of the package to allow flexibility for
          personal
          dining preferences
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__head headline">
          Is travel insurance required?
          <svg class="accordion__icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-chevron"></use>
          </svg>
        </div>
        <div class="accordion__body">
          We strongly recommend purchasing comprehensive travel insurance to cover unforeseen circumstances, including
          trip cancellations, interruptions, or medical emergencies
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__head headline">
          Can I make changes to my reservation?
          <svg class="accordion__icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-chevron"></use>
          </svg>
        </div>
        <div class="accordion__body">
          Changes to the reservation, such as altering tour dates or the number of participants, may be subject to
          additional fees
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__head headline">
          Are there any optional activities or excursions available?
          <svg class="accordion__icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-chevron"></use>
          </svg>
        </div>
        <div class="accordion__body">
          Yes, there may be optional activities or excursions. Details and costs will be provided in advance, and you
          can decide whether to participate based on your preferences
        </div>
      </li>

    </ul>




    </div>

    </div>
</section>