<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
      <a href="#" class="logo header__logo">
        <img class="logo__img" src="./images/logo.svg" alt="Logo Adventure Online">
      </a>

      <ul class="menu header__menu">
        <li class="menu__item">
          <a class="menu__link @@home" href="#">
            Home
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link @@trips"  href="#">
            Your trips
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link @@stories" href="#">
            Stories
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link @@guide" href="#">
            Smart guide
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link @@contact" href="#">
            Contact
          </a>
        </li>
      </ul>

      <button class="button" type="button">
        Book a Trip
      </button>
    </nav>
  </div>
</header>