<header class="header">
  <div class="container header__container">

    <div class="header__inner">
      <a href="index.html" class="logo header__logo">
        <img class="logo__img" src="./images/logo.svg" alt="Logo Adventure Online">
      </a>

      <button class="header__btn mobile-btn mobile-btn--open" type="button" data-burger-open>
        <span class=" sr-only">Open menu</span>
        <svg class="mobile-btn__icon" width="44" height="44">
          <use href="./images/symbol-defs.svg#icon-open-menu"></use>
        </svg>
      </button>
      <nav class="header__nav">
        <ul class="menu header__menu menu--mobile">
          <li class="menu__item">
            <a class="menu__link @@home" href="index.html">
              Home
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link @@about" href="about.html">
              About Us
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link @@trips" href="tour.html">
              Your trips
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link @@guide" href="tour.html">
              Blog
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link @@contact" href="contact.html">
              Contact
            </a>
          </li>
        </ul>

        <button class="button" type="button" data-modal-button>
          Contact Us
        </button>
      </nav>

      <button class="mobile-menu__button mobile-btn hide" type="button" data-burger-close>
        <span class=" sr-only">Close menu</span>
        <svg class="mobile-btn__icon" width="22" height="22">
          <use href="./images/symbol-defs.svg#icon-close-menu"></use>
        </svg>
      </button>

    </div>
  </div>
  @@include('../components/modal.html')
</header>