 <div id="appointment" class="backdrop hidden" data-modal>
   <div class="modal modal--small">
     <div class="appointment">
       <div class="appointment__headline">
         Contact Us:
       </div>
       <ul class="appointment__messengers messengers">
         <li class="messengers__item">
           <a class="messengers__link" href="tel:+12085550112" target="blank" title="Call Us">
             <svg class="messengers__icon" width="32" height="32">
               <use href="./images/symbol-defs.svg#icon-tel"></use>
             </svg>
             +1(208) 555-0112
           </a>
         </li>

         <li class="messengers__item">
           <a class="messengers__link" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=info@adv.com">
             <svg class="messengers__icon" width="20" height="20">
               <use href="./images/symbol-defs.svg#icon-mail"></use>
             </svg>
             info@adv.com
           </a>
         </li>
       </ul>
     </div>
     <button class="modal__close-btn modal-button" type="button" data-modal-close>
       <svg class="modal__close-btn-icon" width="32" height="32">
         <use href="./images/symbol-defs.svg#icon-close"></use>
       </svg>
     </button>
   </div>
 </div>