<section class="news section" style="background-image: url(./images/decor/decor-news.png);">
  <div class="container">
    <span class="title news__title">
      Adventure Blog
    </span>
    <h2 class="subtitle news__subtitle ">
      Trips and advises
    </h2>
    <div class="news__content">
      <div class="news__item news__item--first" style="background-image: url('./images/blog/cover-2.jpg');">
      </div>
      <article class="info-card info-card--small ">
        <div class="info-card__inner info-card__inner--water2">
          <div class="info-card__content" style="background-image:url('./images/icons/hikking.svg')">
            <h3 class="info-card__title">
              Water Adventures
            </h3>
            <p class="info-card__txt">
              Enjoy adrenaline-pumping water activities like surfing, kayaking, or rafting
            </p>
            <a href="#" class="button info-card__button">
              Read more
            </a>
          </div>
        </div>
      </article>

       <article class="info-card info-card--small ">
         <div class="info-card__inner info-card__inner--hiking2">
           <div class="info-card__content" style="background-image:url('./images/icons/hikking.svg')">
             <h3 class="info-card__title">
               Hiking Escapades
             </h3>
             <p class="info-card__txt">
               Explore scenic trails and conquer breathtaking peaks
             </p>
             <a href="#" class="button info-card__button">
               Read more
             </a>
           </div>
         </div>
       </article>
      <div class="news__item">
        <div class="news__info">
          <p class="news__txt">
            Story <br>
            trips <br>
            advises <br>
            Guidance
          </p>
        </div>
        <a class="button news__button" href="#">
          Read all
        </a>

      </div>
    </div>

  </div>
</section>