<section class="news section" style="background-image: url(./images/decor/decor-news.png);">
  <div class="container">
    <h2 class="title news__title">
      Adventure Blog
    </h2>
    <h3 class="subtitle news__subtitle ">
      trips and advises
    </h3>
    <div class="news__content">
      <div class="news__item news__item--first" style="background-image: url('./images/blog/cover-2.jpg');">
      </div>
      <div class="news-card news__item news__item--big">
        <div class="news-card__inner">
          <div class="news-card__img-box">
            <img class="news-card__img" src="./images/category/water-2.jpg"
              alt="A girl with friends kayaks on a lake among the mountains" width="250" height="222">
          </div>
          <div class="news-card__content" style="background-image:url('./images/icons/watersport.svg')">
            <h4 class="news-card__title">
              Water Adventures
            </h4>
            <p class="news-card__txt">
              Enjoy adrenaline-pumping water activities like surfing, kayaking, or rafting
            </p>

            <a href="#" class="button news-card__button">
              read more
            </a>
          </div>
        </div>
      </div>
      <div class="news-card news__item news__item--big">
        <div class="news-card__inner">
          <div class="news-card__img-box">
            <img class="news-card__img" src="./images/category/hiking-2.jpg"
              alt="A guy travels with his dog in the mountains" width="250" height="222">
          </div>

          <div class="news-card__content" style="background-image:url('./images/icons/hikking.svg')">
            <h4 class="news-card__title">
              Hiking Escapades
            </h4>
            <p class="news-card__txt">
              Explore scenic trails and conquer breathtaking peaks
            </p>
            <a href="#" class="button news-card__button">
              read more
            </a>

          </div>
        </div>
      </div>
      <div class="news__item">
        <div class="news__info">
          <p class="news__txt">
            story
          </p>
          <p class="news__txt">
            trips
          </p>

          <p class="news__txt">
            advises
          </p>
          <p class="news__txt">
            Guidance
          </p>
        </div>
        <a href="#" class="button news__button">
          read all
        </a>

      </div>
    </div>

  </div>
</section>