 <section class="tabs section section--light">
   <div class="container">
     <ul class="tabs__nav">
       <li class="tabs__nav-item active" data-id="tab1">
         Tour Schedule
       </li>
       <li class="tabs__nav-item" data-id="tab2">
         Where to stay
       </li>
       <li class="tabs__nav-item" data-id="tab3">
         Eat & drink
       </li>
       <li class="tabs__nav-item" data-id="tab4">
         Booking
       </li>
     </ul>
     <ul class="tabs__content">
       <li class="tabs__info active" data-content="tab1">
         <div class="tabs__headline headline">
           5-Day NYC Tour
         </div>
         <ul class="tabs__list">
           <li class="tabs__item">
             <div class="tabs__inner">
               <div class="tabs__top">
                 <span class="tabs__day">
                   Day 1
                 </span>
                 <h3 class="tabs__title">
                   Welcome to the Big Apple
                 </h3>
               </div>
               <ul class="tabs__schedule">
                 <li class="tabs__text">
                   <span class="text-bold">
                     Morning:
                   </span>
                   Arrival at JFK International Airport. Transfer to the hotel and check-in.
                 </li>
                 <li class="tabs__text">
                   <span class="text-bold">
                     Afternoon:
                   </span>
                   Arrival at JFK International Airport. Transfer to the hotel and check-in.
                 </li>
                 <li class="tabs__text">
                   <span class="text-bold">
                     Evening:
                   </span>
                   Welcome dinner at a local hotspot, introducing you to the diverse culinary scene.
                 </li>
               </ul>
             </div>
             <div class="tabs__image-box">
               <img class="tabs__image" src="./images/new-york/photo-01.jpg" alt="Times Square New York" width="500"
                 height="350" loading="lazy">
             </div>

           </li>
           <li class="tabs__item">
             <div class="tabs__inner">
               <div class="tabs__top">
                 <span class="tabs__day">
                   Day 2
                 </span>
                 <h3 class="tabs__title">
                   Manhattan Marvels
                 </h3>
               </div>
               <ul class="tabs__schedule">
                 <li class="tabs__text">
                   <span class="text-bold">
                     Morning:
                   </span>
                   Visit Central Park for a leisurely stroll and perhaps a boat ride on the lake.
                 </li>
                 <li class="tabs__text">
                   <span class="text-bold">
                     Afternoon:
                   </span>
                   Afternoon: Discover the Metropolitan Museum of Art (Met) and its vast art collections.
                 </li>
                 <li class="tabs__text">
                   <span class="text-bold">
                     Evening:
                   </span>
                   Optional Broadway show or free time to explore th e city's nightlife.
                 </li>
               </ul>
             </div>
             <div class="tabs__image-box">
               <img class="tabs__image" src="./images/new-york/photo-02.jpg"
                 alt="Metropolitan Museum of Art (Met) New York" width="670" height="430" loading="lazy">
             </div>
           </li>
           <li class="tabs__item">
             <div class="tabs__inner">
               <div class="tabs__top">
                 <span class="tabs__day">
                   Day 3
                 </span>
                 <h3 class="tabs__title">
                   Downtown Delights
                 </h3>
               </div>
               <ul class="tabs__schedule">
                 <li class="tabs__text">
                   <span class="text-bold">
                     Morning:
                   </span>
                   Statue of Liberty and Ellis Island tour, immersing in American history.
                 </li>
                 <li class="tabs__text">
                   <span class="text-bold">
                     Afternoon:
                   </span>
                   Visit the iconic Grand Central Terminal, immersing yourself in its architectural splendor and
                   historical significance.
                 </li>
                 <li class="tabs__text">
                   <span class="text-bold">
                     Evening:
                   </span>
                   Dinner in the trendy neighborhoods of SoHo or Tribeca.
                 </li>
               </ul>
             </div>
             <div class="tabs__image-box">
               <img class="tabs__image" src="./images/new-york/photo-03.jpg" alt="Grand Central Terminal New York"
                 width="500" height="350" loading="lazy">
             </div>
           </li>
           <li class="tabs__item">
             <div class="tabs__inner">
               <div class="tabs__top">
                 <span class="tabs__day">
                   Day 4
                 </span>
                 <h3 class="tabs__title">
                   Culture and Cuisine
                 </h3>
               </div>
               <ul class="tabs__schedule">
                 <li class="tabs__text">
                   <span class="text-bold">
                     Morning:
                   </span>
                   Visit the Museum of Modern Art (MoMA) to experience contemporary art.
                 </li>
                 <li class="tabs__text">
                   <span class="text-bold">
                     Morning:
                   </span>
                   Arrival at JFK International Airport. Transfer to the hotel and check-in.
                 </li>
                 <li class="tabs__text">
                   <span class="text-bold">
                     Morning:
                   </span>
                   Arrival at JFK International Airport. Transfer to the hotel and check-in.
                 </li>
               </ul>
             </div>
             <div class="tabs__image-box">
               <img class="tabs__image" src="./images/new-york/photo-04.jpg" alt="Greenwich Village New York"
                 width="670" height="430" loading="lazy">
             </div>
           </li>
           <li class="tabs__item tabs__item--bottom-right">
             <div class="tabs__inner">
               <div class="tabs__top">
                 <span class="tabs__day">
                   Day 5
                 </span>
                 <h3 class="tabs__title">
                   Skyline and Farewell
                 </h3>
               </div>
               <ul class="tabs__schedule">
                 <li class="tabs__text">
                   <span class="text-bold">
                     Morning:
                   </span>
                   Ascend to the Top of the Rock for breathtaking views of the city.
                 </li>
                 <li class="tabs__text">
                   <span class="text-bold">
                     Afternoon:
                   </span>
                   Explore the High Line, an elevated park with unique greenery and art installations.
                 </li>
                 <li class="tabs__text">
                   <span class="text-bold">
                     Evening:
                   </span>
                   Farewell dinner cruise, sailing along the Hudson River with views of the city lights.
                 </li>
               </ul>
             </div>
             <div class="tabs__image-box">
               <img class="tabs__image" src="./images/new-york/photo-05.jpg" alt="Top of the Rock New York" width="500"
                 height="350" loading="lazy">
             </div>
           </li>
         </ul>
       </li>
       <!-- <li class="tabs__info" data-content="tab2">
         <div class="tabs__headline headline">
           During our tour, we will be staying at
           <span class="text-bold">Pod 51 Hotel</span>
         </div>
         <ul class="tabs__list">
           <li class="tabs__item tabs__item--top-left ">
             <div class="tabs__inner">
               Pod 51 Hotel offers a unique and modern New York City experience. Located in the heart of the city,
               this hotel captures the essence of urban living with its contemporary design and efficient use of
               space. The rooms, known for their compact yet functional layout, provide a comfortable retreat after a
               day of exploring the vibrant streets of New York.
             </div>
             <div class="tabs__image-box">
               <img class="tabs__image" src="./images/new-york/hotel-01.jpg" alt="Pod 51 Hotel New York" width="670"
                 height="430" loading="lazy">
             </div>
           </li>

           <li class="tabs__item tabs__item--bottom-right">
             <div class="tabs__inner">
               The hotel's aesthetic is sleek and cosmopolitan, reflecting the dynamic energy of the city. With its
               central location, Pod 51 provides easy access to iconic landmarks, trendy neighborhoods, and a variety
               of dining and entertainment options. The communal spaces are designed for socializing, creating a
               lively atmosphere that complements the city's bustling vibe.
             </div>
             <div class="tabs__image-box">
               <img class="tabs__image" src="./images/new-york/hotel-02.jpg" alt="Pod 51 Hotel New York" width="500"
                 height="350" loading="lazy">
             </div>
           </li>
         </ul>

         <a class="link tabs__link" href="#">
           Learn more
         </a>
       </li>
       <li class="tabs__info" data-content="tab3">
         <div class="tabs__headline headline">
           Breakfasts will be served at
           <span class="text-bold">
             Morning Star Cafe
           </span>
         </div>
         <ul class="tabs__list">
           <li class="tabs__item tabs__item--top-left ">
             <div class="tabs__inner">
               Start your day with a delicious breakfast at Morning Star Cafe, conveniently situated close to Pod 51
               Hotel.
               Morning Star Cafe offers a cozy and welcoming atmosphere, providing a variety of breakfast options to
               suit
               different tastes. Whether you prefer a hearty American breakfast or a lighter continental option, the
               cafe aims
               to cater to your preferences.
             </div>
             <div class="tabs__image-box">
               <img class="tabs__image" src="./images/new-york/cafe-01.jpg" alt="Morning Star Cafe" width="670"
                 height="430" loading="lazy">
             </div>
           </li>

           <li class="tabs__item tabs__item--bottom-right">
             <div class="tabs__inner">
               Enjoy a pleasant morning at Morning Star Cafe, where you can fuel up for the day ahead before
               exploring the
               vibrant streets of New York City. The proximity of the cafe makes it a convenient and delightful
               choice for our
               guests during their stay at Pod 51 Hotel.
             </div>
             <div class="tabs__image-box">
               <img class="tabs__image" src="./images/new-york/cafe-02.jpg" alt="Morning Star Cafe New York" width="500"
                 height="350" loading="lazy">
             </div>
           </li>
         </ul>

         <a class="link tabs__link" href="#">
           Learn more
         </a>
       </li>
       <li class="tabs__info" data-content="tab4">
         <div class="tabs__headline headline">
           Booking Conditions for New York City Tour
         </div>
         <ol class="tabs__wrapper ">
           <li class="tabs__inner tabs__inner--text">
             <h4 class="tabs__caption">
               Reservation and Confirmation:
             </h4>
             <p class="tabs__text">
               To secure your spot on the tour, a non-refundable deposit of 500$ is required at the time of booking.
             </p>
             <p class="tabs__text">
               Confirmation of your reservation will be provided upon receipt of the deposit.
             </p>
           </li>
           <li class="tabs__inner tabs__inner--text">
             <h4 class="tabs__caption">
               Payment Schedule:
             </h4>
             <p class="tabs__text">
               The full payment for the tour is due 14 days before the tour start date.
             </p>
             <p class="tabs__text">
               Failure to complete the payment by the specified date may result in the cancellation of the
               reservation.
             </p>
           </li>
           <li class="tabs__inner">
             <h4 class="tabs__caption">
               Cancellation Policy:
             </h4>
             <p class="tabs__text">
               Cancellations made 15 days prior to the tour start date will be subject to a 50% cancellation fee.
             </p>
             <p class="tabs__text">
               Cancellations made within 14 days of the tour start date are non-refundable.
             </p>
             <p class="tabs__text">
               No refunds will be provided for no-shows or unused portions of the tour.
             </p>
           </li>
           <li class="tabs__inner tabs__inner--text">
             <h4 class="tabs__caption">
               Changes and Amendments:
             </h4>
             <p class="tabs__text">
               Changes to the reservation, such as altering the tour dates or the number of participants, may be
               subject to additional fees.
             </p>
           </li>
           <li class="tabs__inner tabs__inner--text">
             <h4 class="tabs__caption">
               Travel Insurance:
             </h4>
             <p class="tabs__text">
               We strongly recommend purchasing comprehensive travel insurance to cover unforeseen circumstances,
               including trip cancellations, interruptions, or medical emergencies.
             </p>
           </li>
           <li class="tabs__inner tabs__inner--text">
             <h4 class="tabs__caption">
               Tour Itinerary:
             </h4>
             <p class="tabs__text">
               The tour itinerary is subject to change based on factors such as weather conditions and unforeseen
               events. We will strive to provide a comparable alternative in such cases.
             </p>
           </li>

           <li class="tabs__inner tabs__inner--text">
             <h4 class="tabs__caption">
               Responsibility:
             </h4>
             <p class="tabs__text">
               Adventure-online reserves the right to alter the itinerary, accommodations, or included activities
               if necessary, while ensuring the overall quality of the tour.
             </p>
           </li>
         </ol>
         <a class="link tabs__link" href="#">
           Contact us
         </a>
       </li> -->
     </ul>
   </div>
 </section>