<section class="team section section--light" style="background-image: url(./images/decor/our_team.webp)">
  <div class="container">
    <h2 class="team__title title title--light">Our team</h2>
    <p class="team__subtitle">we pride ourselves on having a dedicated and passionate team of travel experts
      who
      are
      committed to making your journey exceptional. Meet the people who bring your travel dreams to life:</p>
    <div class="team__content">
      <ul class="team__nav">
        <li class="team__nav-item active" data-id="team1">
          CEO
        </li>
        <li class="team__nav-item" data-id="team2">
          Travel
        </li>
        <li class="team__nav-item" data-id="team3">
          Logistics
        </li>
        <li class="team__nav-item" data-id="team4">
          Customer Service
        </li>
      </ul>
      <ul class="team__content">
        <li class="team__info active" data-content="team1">
          <img class="team__img" src="./images/team/image 39-2.jpg" alt="">
          <div class="team__description">
            <p class="team__text">With over 15 years of experience in the travel industry, Sarah leads our agency with a
              vision of offering personalized and unforgetteamle trips. Her expertise in destination management and
              customer service ensures that every client receives the highest level of care and attention.</p>
            <div class="team__bottom">
              <p class="team__name">Sarah Johnson</p>
              <span class="team__occupation">Founder & CEO</span>
            </div>
          </div>
        </li>
        <li class="team__info " data-content="team2">
          <img class="team__img" src="./images/team/image 39-1.jpg" alt="">
          <div class="team__description">
            <p class="team__text">With over 15 years of experience in the travel industry, Sarah leads our agency with a
              vision of offering personalized and unforgetteamle trips. Her expertise in destination management and
              customer service ensures that every client receives the highest level of care and attention.</p>
            <div class="team__bottom">
              <p class="team__name">Sarah Johnson</p>
              <span class="team__occupation">Founder & CEO</span>
            </div>
          </div>
        </li>
        <li class="team__info " data-content="team3">
          <img class="team__img" src="./images/team/image 39-3.jpg" alt="">
          <div class="team__description">
            <p class="team__text">With over 15 years of experience in the travel industry, Sarah leads our agency with a
              vision of offering personalized and unforgetteamle trips. Her expertise in destination management and
              customer service ensures that every client receives the highest level of care and attention.</p>
            <div class="team__bottom">
              <p class="team__name">Sarah Johnson</p>
              <span class="team__occupation">Founder & CEO</span>
            </div>
          </div>
        </li>
        <li class="team__info " data-content="team4">
          <img class="team__img" src="./images/team/image 39-4.jpg" alt="">
          <div class="team__description">
            <p class="team__text">With over 15 years of experience in the travel industry, Sarah leads our agency with a
              vision of offering personalized and unforgetteamle trips. Her expertise in destination management and
              customer service ensures that every client receives the highest level of care and attention.</p>
            <div class="team__bottom">
              <p class="team__name">Sarah Johnson</p>
              <span class="team__occupation">Founder & CEO</span>
            </div>
          </div>
        </li>
        <li class="team__info " data-content="team5">
          <img class="team__img" src="./images/team/image 39-2.jpg" alt="">
          <div class="team__description">
            <p class="team__text">With over 15 years of experience in the travel industry, Sarah leads our agency with a
              vision of offering personalized and unforgetteamle trips. Her expertise in destination management and
              customer service ensures that every client receives the highest level of care and attention.</p>
            <div class="team__bottom">
              <p class="team__name">Sarah Johnson</p>
              <span class="team__occupation">Founder & CEO</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>