<section class="team" style="background-image: url(./images/decor/decor-aboutUs.webp)">
  <div class="container">
    <h2 class="team__title title"></h2>
    <p class="team__subtitle">we pride ourselves on having a dedicated and passionate team of travel experts who are
      committed to making your journey exceptional. Meet the people who bring your travel dreams to life:</p>
    <div class="team__content">
      <ul class="team__nav">
        <li class="team__nav-item active" data-id="tab1">
          CEO
        </li>
        <li class="team__nav-item" data-id="tab2">
          Travel
        </li>
        <li class="team__nav-item" data-id="tab3">
          Logistics
        </li>
        <li class="team__nav-item" data-id="tab4">
          Customer Service
        </li>
      </ul>
      <ul class="team__content">
        <li class="team__info active" data-content="tab1">
          <img class="team__img" src="" alt="">
          <div class="team__info">
            <p class="team__text">With over 15 years of experience in the travel industry, Sarah leads our agency with a
              vision of offering personalized and unforgettable trips. Her expertise in destination management and
              customer service ensures that every client receives the highest level of care and attention.</p>
            <div class="team__bottom">
              <p class="team__item">Sarah Johnson</p>
              <span class="team__occupation">Founder & CEO</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>