<section class="section testimonial section--light"
  style="background-image: url(./images/decor/decor-testimonial.webp)">

  <div class="container">
    <h2 class="title title--light testimonial__title">
      Travelers' Stories
    </h2>

    <div class="testimonial__inner swiper swiper-2" id="swiper-2">

      <div class="swiper-wrapper testimonial__wrapper">
        <div class="swiper-slide testimonial__item">
          <blockquote class="testimonial__content">
            <div class="testimonial__img-box">
              <img class="testimonial__img" src="./images/testimonials/review-01.webp" alt="" loading="lazy" width="500"
                height="630">
            </div>
            <div class="testimonial__info">
              <span class="testimonial__name">
                Daniel
              </span>
              <p class="testimonial__txt">
                Visiting Germany was an amazing experience! From the rich history of Berlin to the charming streets of
                Munich and the stunning beauty of the Bavarian Alps, every moment was filled with wonder. The
                hospitality, culture, and cuisine made this trip unforgettable.
              </p>
            </div>
          </blockquote>
        </div>

        <div class="swiper-slide testimonial__item">
          <blockquote class="testimonial__content">
            <div class="testimonial__img-box">
              <img class="testimonial__img" src="./images/testimonials/review-04.webp" alt="Our cusromers in New-York"
                loading="lazy" width="500" height="630">
            </div>
            <div class="testimonial__info">
              <span class="testimonial__name">
                Emily
              </span>
              <p class="testimonial__txt">
                Absolutely amazing experience with this agency! They helped me plan a fantastic road trip visiting
                iconic destinations like New York City, the Grand Canyon. Everything was
                well-organized and hassle-free. Highly recommend!
              </p>
            </div>
          </blockquote>
        </div>

        <div class="swiper-slide testimonial__item">
          <blockquote class="testimonial__content">
            <div class="testimonial__img-box">
              <img class="testimonial__img" src="./images/testimonials/review-02.webp" alt="Our cusromers in Canada"
                loading="lazy" width="500" height="630">
            </div>
            <div class="testimonial__info">
              <span class="testimonial__name">
                Michael
              </span>
              <p class="testimonial__txt">
                Highly recommend this agency for anyone planning a trip to Canada. They helped me discover hidden gems
                and experience the best of Canadian hospitality. From exploring the vibrant city of Toronto to immersing
                myself in the natural beauty of Banff, it was an adventure of a lifetime.
              </p>
            </div>
          </blockquote>
        </div>

        <div class="swiper-slide testimonial__item">
          <blockquote class="testimonial__content">
            <div class="testimonial__img-box">
              <img class="testimonial__img" src="./images/testimonials/review-03.webp" alt="Our cusromers in New-York"
                loading="lazy" width="500" height="630">
            </div>
            <div class="testimonial__info">
              <span class="testimonial__name">
                Sara
              </span>
              <p class="testimonial__txt">
                New York exceeded all my expectations and even more! I visited the Statue of Liberty, explored
                the Museum of Modern Art, and, of course, couldn't resist the shops on Fifth Avenue. This city is full
                of life and diversity, and I'm already dreaming of returning.
              </p>
            </div>
          </blockquote>
        </div>

        <div class="swiper-slide testimonial__item">
          <blockquote class="testimonial__content">
            <div class="testimonial__img-box">
              <img class="testimonial__img" src="./images/testimonials/review-05.webp"
                alt="Our cusromers in Yellowstone National Park" loading="lazy" width="500" height="630">
            </div>
            <div class="testimonial__info">
              <span class="testimonial__name">
                John
              </span>
              <p class="testimonial__txt">
                My visit to Yellowstone National Park was unforgettable. Encountering the wilderness and unique
                geological features left me in awe.
              </p>
            </div>
          </blockquote>
        </div>

      </div>
      <div class="testimonial__swiper-bottom">
        <div class="swiper-pagination testimonial__swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper__buttons">
          <div class="swiper-button-prev">
            <svg class="swiper-button-icon" width="20" height="20">
              <use href="./images/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg class="swiper-button-icon" width="20" height="20">
              <use href="./images/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>